spring:
  datasource:
    url: jdbc:h2:mem:jpa_demo;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    show-sql: true

spring.h2.console.enabled: true
